<h1>Stupid Coaching</h1>
  <div class="container">
    <p><%=@questions%></p>
    <p>- You</p>
  </div>
  <div class="container">
    <p><%=@answer%></p>
    <p>-You coach</p>
  </div>
  <a href="./ask">Back to Ask Box</a>
